{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Unrecognised Bank Transaction Report</h5>
                    <div class="card-header-right">
                        {% if data is defined and data is not empty %}
                            {% if bank is defined and bank is not empty %}
                                {% set bankId = bank.id %}
                            {% else %}
                                {% set bankId = '' %}
                            {% endif %}
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                <a href="{{ path('br_bank_transaction_unrecognised_report_pdf',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y'),accountType:accountType,bank:bankId}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                                <a href="{{ path('br_bank_transaction_unrecognised_report_excel',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y'),accountType:accountType,bank:bankId})}}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="2">
                                    {{ form_label(form.bank,'Bank') }}
                                    {{ form_widget(form.bank)}}
                                    {{ form_errors(form.bank) }}
                                </th>

                                <th colspan="3" style="width: 33%;">
                                    {{ form_label(form.accountType,'Account Type *') }}
                                    {{ form_widget(form.accountType, { attr: {required: 'true'}})}}
                                    {{ form_errors(form.accountType) }}
                                </th>

                                <th colspan="3" style="width: 33%;">
                                    {{ form_label(form.startDate, 'Start Date *') }}
                                    {{ form_widget(form.startDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.startDate) }}
                                </th>

                                <th colspan="3" style="width: 33%;">
                                    {{ form_label(form.endDate, 'End Date *') }}
                                    {{ form_widget(form.endDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.endDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_unrecognised_bank_transacton') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="7" class="text-center">
                            {{ 'Unrecognised Report' }}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">{{'Bank Transaction Report ('~accountType~')' }}</th>
                    </tr>
                    <tr>
                        {% if startDate is defined and endDate is defined %}
                            <th colspan="7" class="text-center">{{'('~startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y')~')' }}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'SL No'|trans }}</th>
                        <th width="10%" >{{ 'Date'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Bank Code'|trans }}</th>
                        <th>{{ 'Branch'|trans }}</th>
                        <th>{{ 'Bank Value'|trans }}</th>
                        <th>{{ 'District'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% if data is defined and data is not empty %}
                        {% set totalDeposit = 0 %}
                        {% for statement in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if statement.transactionDate is not empty %}
                                    {{ statement.transactionDate|date('d-M-Y')}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.BankName is not empty %}
                                    {{ statement.BankName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.accountCode is not empty %}
                                    {{ statement.accountCode }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.branchName is not empty %}
                                    {{ statement.branchName }}
                                {% endif %}
                            </td>
                            <td style="text-align: right">
                                {% if statement.deposit is not empty %}
                                    {{ statement.deposit|number_format(0, '.', ',') }}
                                    {% set totalDeposit = totalDeposit + statement.deposit %}
                                {% endif %}
                            <td>
                                {% if statement.districtName is not empty %}
                                    {{ statement.districtName }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="5">Total</th>
                            <th style="text-align: right">{{ totalDeposit|number_format(0, '.', ',') }}</th>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
{#                {% if data is defined and data is not empty %}#}

{#                    <div class="row">#}
{#                        <div class="col-md-3">#}
{#                            <div class="count">#}
{#                                Total Records: {{ data.getTotalItemCount }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9 navigation" style="padding-right: 0;">#}
{#                            {{ knp_pagination_render(data) }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.transactionDate').datepicker(
    {
    dateFormat: 'dd-mm-yy'
    }
    );
{% endblock %}
