{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Unrecognised Bank Transaction Branch Wise Agent</h5>
                    <div class="card-header-right">
{#                        {% if data is defined and data is not empty %}#}
{#                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">#}
{#                                <a href="{{ path('br_bank_transaction_unrecognised_report_pdf',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y'),accountType:accountType}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>#}
{#                                <a href="{{ path('br_bank_transaction_unrecognised_report_excel',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y'),accountType:accountType})}}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>#}
{#                            </div>#}
{#                        {% endif %}#}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">

                                <th colspan="3" style="width: 40%;">
                                    {{ form_label(form.bank, 'Bank Name *') }}
                                    {{ form_widget(form.bank) }}
                                    {{ form_errors(form.bank) }}
                                </th>

                                <th colspan="3" style="width: 40%;">
                                    {{ form_label(form.branchId, 'Bank Branch *') }}
                                    {% if entity is not empty %}
                                        <input type="hidden" class="added_branch_id" data-name="{{ entity is defined and entity.branch is not empty?entity.branch.branchName:'' }}" value="{{ entity is defined and entity.branch is not empty?entity.branch.id:'' }}">
                                    {% endif %}
                                    {{ form_widget(form.branchId,{'attr':{required: 'true'}}) }}
                                </th>

                                <th style="width: 20%">
                                    <label class="control-label">Limit</label>
                                    {% if limit is defined and limit is not empty %}
                                        {% set limit = limit %}
                                        {% else %}
                                            {% set limit = '' %}
                                    {% endif %}
                                <input type="text" name="limit" class="form-control" value="{{ limit }}" >
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_unrecognised_bank_transacton') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="7" class="text-center">
                            {{ 'Branch Wise Agent List' }}
                        </th>
                    </tr>
                    <tr>
                        {% if bank is defined and bank is not empty and branch is defined and branch is not empty %}
                        <th colspan="7" class="text-center">{{'Bank : '~bank.name~' - Branch : '~branch.branchName }}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'SL No'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'Agent Mobile'|trans }}</th>
                        <th>{{ 'Address'|trans }}</th>
                        <th>{{ 'Upozila'|trans }}</th>
                        <th>{{ 'District'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% if data is defined and data is not empty %}
                        {% for statement in data %}
                        <tr>
                            <td>{{ loop.index }}</td>

                            <td>
                                {% if statement.agentName is not empty %}
                                    {{ statement.agentName }}
                                {% endif %}
                            </td>
                            <td style="text-align: right">
                                {% if statement.agentMobile is not empty %}
                                    {{ statement.agentMobile}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.agentAddress is not empty %}
                                    {{ statement.agentAddress }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.upozilaName is not empty %}
                                    {{ statement.upozilaName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.districtName is not empty %}
                                    {{ statement.districtName }}
                                {% endif %}
                            </td>

                            <td>
                                {% if statement.transactionDate is not empty %}
                                    {{ statement.transactionDate|date('d-m-Y')}}
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>

                </table>
{#                {% if data is defined and data is not empty %}#}

{#                    <div class="row">#}
{#                        <div class="col-md-3">#}
{#                            <div class="count">#}
{#                                Total Records: {{ data.getTotalItemCount }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9 navigation" style="padding-right: 0;">#}
{#                            {{ knp_pagination_render(data) }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.transactionDate').datepicker(
    {
    dateFormat: 'dd-mm-yy'
    }
    );

    var added_branch_id= $('.added_branch_id').val();
    var added_branch_name= $('.added_branch_id').attr('data-name');
    $('.branchSearch').select2({
    ajax: {
    url: Routing.generate('branch_search_select2'),
    dataType: 'json',
    delay: 250,
    type: 'GET',
    data: function (params) {
    var bank = $('#bank_accont_code_form_bank').val();
    if (bank){
    return {
    q: params.term, // search term
    bank: bank, // search term
    };
    }else {
    alert('Select Bank First');
    }
    },
    templateSelection: function (data, container) {
    console.log('ok');
    },
    processResults: function (data) {
    var arr = []
    $.each(data, function (index, value) {
    arr.push({
    id: index,
    text: value,
    })
    })
    return {
    results: arr
    };
    },
    cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1
    });
    if(added_branch_id!=''){
    var data = {
    id: added_branch_id,
    text: added_branch_name
    };
    var newOption = new Option(data.text, data.id, false, false);
    $('.branchSearch').append(newOption).trigger('change');
    $('.branchSearch').val(added_branch_id).change();
    }
{% endblock %}
