<div class="row">
    <div class="col-md-12">
        <div class="card p-3">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr style="border-bottom-color: #dbdee34a !important;">
                    <th colspan="7" class="text-center">
                        {{ 'Unrecognised Report' }}
                    </th>
                </tr>
                <tr>
                    {% if startDate is defined and endDate is defined %}
                        <th colspan="7" class="text-center">{{'Sales Payment Report ('~startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y')~')' }}</th>
                    {% else %}
                        <th colspan="7" class="text-center">{{'Sales Payment Report'}}</th>
                    {% endif %}
                </tr>
                <tr>
                    <th>{{ 'SL No'|trans }}</th>
                    <th width="10%" >{{ 'Date'|trans }}</th>
                    <th>{{ ' Region'|trans }}</th>
                    <th>{{ ' District'|trans }}</th>
                    <th>{{ 'Agent Name'|trans }}</th>
                    <th>{{ 'Agent ID'|trans }}</th>
                    <th>{{ 'Tk.'|trans }}</th>
                    {#                        <th>{{ 'Quantity'|trans }}</th>#}
                </tr>
                </thead>

                <tbody>

                {% if data is defined and data is not empty %}
                    {% set totalAmount = 0 %}
                    {% for statement in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if statement.depositDate is not empty %}
                                    {{ statement.depositDate|date('d-M-Y')}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.regionName is not empty %}
                                    {{ statement.regionName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.districtName is not empty %}
                                    {{ statement.districtName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.AgentName is not empty %}
                                    {{ statement.AgentName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.agentId is not empty %}
                                    {{ statement.agentId }}
                                {% endif %}
                            </td>
                            <td style="text-align: right">
                                {% if statement.depositAmount is not empty %}
                                    {{ statement.depositAmount }}
                                    {% set totalAmount = totalAmount + statement.depositAmount %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="6">Total</th>
                        <th>{{ totalAmount }}</th>
                    </tr>
                {% endif %}

                </tbody>

            </table>
        </div>
    </div>
</div>