{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Unrecognised Sales Payment Report</h5>
                    <div class="card-header-right">
                        {% if data is defined and data is not empty %}
                            {% if region is defined and region is not empty  %}
                                {% set regionId = region.id %}
                            {% else %}
                                {% set regionId = '' %}
                            {% endif %}

                            {% if agentId is defined and agentId is not empty  %}
                                {% set agentId = agentId %}
                            {% else %}
                                {% set agentId = '' %}
                            {% endif %}
{#                            {% if region is defined and region is not empty %}#}
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                    <a href="{{ path('br_sales_payment_unrecognised_report_pdf',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y'),region:regionId,agentId:agentId}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                                    <a href="{{ path('br_sales_payment_unrecognised_report_excel',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y'),region:regionId,agentId:agentId})}}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                                </div>
{#                                {% else %}#}
{#                                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">#}
{#                                        <a href="{{ path('br_sales_payment_unrecognised_report_pdf',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y')}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>#}
{#                                        <a href="{{ path('br_sales_payment_unrecognised_report_excel',{startDate: startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y')})}}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>#}
{#                                    </div>#}
{#                            {% endif %}#}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">

                                <th colspan="1" style="width: 25%;">
                                    {{ form_label(form.agentid,'Agent ID') }}
                                    {{ form_widget(form.agentid) }}
                                    {{ form_errors(form.agentid) }}
                                </th>

                                <th colspan="2" style="width: 25%;">
                                    {{ form_label(form.region,'Region') }}
                                    {{ form_widget(form.region) }}
                                    {{ form_errors(form.region) }}
                                </th>

                                <th colspan="2" style="width: 25%;">
                                    {{ form_label(form.startDate, 'Start Date *') }}
                                    {{ form_widget(form.startDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.startDate) }}
                                </th>

                                <th colspan="2" style="width: 25%;">
                                    {{ form_label(form.endDate, 'End Date *') }}
                                    {{ form_widget(form.endDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.endDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_unrecognised_sales_payment') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="7" class="text-center">
                            {{ 'Unrecognised Report' }}
                        </th>
                    </tr>
                    <tr>
                        {% if startDate is defined and endDate is defined %}
                            <th colspan="7" class="text-center">{{'Sales Payment Report ('~startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y')~')' }}</th>
                        {% else %}
                                <th colspan="7" class="text-center">{{'Sales Payment Report'}}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'SL No'|trans }}</th>
                        <th width="10%" >{{ 'Date'|trans }}</th>
                        <th>{{ 'Agent ID'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ ' District'|trans }}</th>
                        <th>{{ ' Region'|trans }}</th>
                        <th>{{ 'Tk.'|trans }}</th>
{#                        <th>{{ 'Quantity'|trans }}</th>#}
                    </tr>
                    </thead>

                    <tbody>

                    {% if data is defined and data is not empty %}
                        {% set totalDeposite = 0 %}
                        {% for statement in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if statement.depositDate is not empty %}
                                    {{ statement.depositDate|date('d-M-Y')}}
                                {% endif %}
                            </td>

                            <td>
                                {% if statement.agentId is not empty %}
                                    {{ statement.agentId }}
                                {% endif %}
                            </td>

                            <td>
                                {% if statement.AgentName is not empty %}
                                    {{ statement.AgentName }}
                                {% endif %}
                            </td>

                            <td>
                                {% if statement.districtName is not empty %}
                                    {{ statement.districtName }}
                                {% endif %}
                            </td>

                            <td>
                                {% if statement.regionName is not empty %}
                                    {{ statement.regionName }}
                                {% endif %}
                            </td>

                            <td style="text-align: right">
                                {% if statement.depositAmount is not empty %}
                                    {{ statement.depositAmount|number_format(0, '.', ',') }}
                                    {% set totalDeposite = totalDeposite + statement.depositAmount %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="6">Total</th>
                            <th style="text-align: right">{{ totalDeposite|number_format(0, '.', ',') }}</th>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.transactionDate').datepicker(
    {
    dateFormat: 'dd-mm-yy'
    }
    );
{% endblock %}
