<div class="row">
    <div class="col-md-12">
        <div class="card p-3">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr style="border-bottom-color: #dbdee34a !important;">
                    <th colspan="5" class="text-center">
                        {{ 'Reconciliation Report (Company Wise Collection)' }}
                    </th>
                </tr>
                {% if reconciliationData is defined and reconciliationData is not empty %}
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="5" class="text-center">
                            {{ startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y') }}
                        </th>
                    </tr>
                {% endif %}

                <tr>
                    <th>{{ 'SL'|trans }}</th>
                    <th width="50" >{{ 'Date'|trans }}</th>
                    <th>{{ 'Company'|trans }}</th>
                    <th>{{ 'Bank'|trans }}</th>
                    <th>{{ 'Value'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% if reconciliationData is defined and reconciliationData is not empty %}
                    {% set grandTotal = 0 %}
                    {% for statement in reconciliationData %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td width="100">
                                {% if statement.transactionDate is not empty %}
                                    {{ statement.transactionDate|date('d-M-Y')}}
                                {% endif %}
                            </td>

                            <td >
                                {% if statement.accountType is not empty %}
                                    {{ statement.accountType }}
                                {% endif %}
                            </td>

                            <td >
                                {% if statement.bankName is not empty %}
                                    {{ statement.bankName }}
                                {% endif %}
                            </td>


                            <td style="text-align: right">
                                {% if statement.bankDeposit is not empty %}
                                    {{ statement.bankDeposit|number_format(0, '.', ',') }}
                                    {% set grandTotal = grandTotal+statement.bankDeposit %}
                                {% endif %}
                            </td>


                        </tr>

                    {% endfor %}
                    <tr>
                        <th colspan="4" style="text-align: center;background-color: #f3f4f5">Grand Total</th>
                        <th style="text-align: right;background-color: #f3f4f5" >{{ grandTotal|number_format(0, '.', ',')  }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center">{{ 'No record has been found!'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>