
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="11" class="text-center">
                            {{ 'Custom Reconciliation Report' }}
                        </th>
                    </tr>
                    {% if reconciliationData is defined and reconciliationData is not empty %}
                        <tr style="border-bottom-color: #dbdee34a !important;">
                            <th colspan="11" class="text-center">
                                {{ startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y') }}
                            </th>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>{{ 'SL'|trans }}</th>
                        <th width="50" >{{ 'Date'|trans }}</th>
{#                        <th>{{ 'Reconciliation Id'|trans }}</th>#}
{#                        <th>{{ 'Transaction Id'|trans }}</th>#}
{#                        <th>{{ 'Bank Value'|trans }}</th>#}
{#                        <th>{{ 'Sales Payment Id'|trans }}</th>#}
{#                        <th>{{ 'Payment Value'|trans }}</th>#}
{#                        <th>{{ 'Difference Value'|trans }}</th>#}
                        <th>{{ 'Company'|trans }}</th>
{#                        <th>{{ 'Bank-Code'|trans }}</th>#}
                        <th>{{ 'Bank'|trans }}</th>
                        <th>{{ 'Name of Branch'|trans }}</th>
                        <th>{{ 'Branch-Code'|trans }}</th>
                        <th>{{ 'Name of Party'|trans }}</th>
                        <th>{{ 'Party-Code'|trans }}</th>
                        <th>{{ 'Value'|trans }}</th>
                        <th>{{ 'Approved By'|trans }}</th>
                        <th>{{ 'Status'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if reconciliationData is defined and reconciliationData is not empty %}
                        {% set grandTotal = 0 %}
{#                        {% for firstKey,statementData in reconciliationData %}#}
                        {% for statement in reconciliationData %}

                            {% set totalValue = 0 %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td width="100">
                                    {% if statement.transactionDate is not empty %}
                                        {{ statement.transactionDate|date('d-M-Y')}}
                                    {% endif %}
                                </td>

{#                                <td width="100">#}
{#                                    {% if statement.reconciliationID is not empty %}#}
{#                                        {{ statement.reconciliationID}}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                <td width="100">#}
{#                                    {% if statement.transactionID is not empty %}#}
{#                                        {{ statement.transactionID}}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                <td width="100">#}
{#                                    {% if statement.bankDeposit is not empty %}#}
{#                                        {{ statement.bankDeposit}}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                <td width="100">#}
{#                                    {% if statement.salesID is not empty %}#}
{#                                        {{ statement.salesID}}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                <td width="100">#}
{#                                    {% if statement.actualAmount is not empty %}#}
{#                                        {{ statement.actualAmount}}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                <td width="100">#}
{#                                    {% if statement.diffAmount is not empty %}#}
{#                                        {{ statement.diffAmount}}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                <td>#}
{#                                    {% if statement.accountType is not empty %}#}
{#                                        {{ statement.accountType }}#}
{#                                    {% endif %}#}
{#                                </td>#}

{#                                {% if loop.first %}#}
{#                                    <td rowspan="{{ statement|length }}">#}
{#                                        {% if data.accountCode is not empty %}#}
{#                                            {{ data.accountCode }}#}
{#                                        {% endif %}#}
{#                                    </td>#}
{#                                {% endif %}#}
                                <td>
                                    {% if statement.accountType is not empty %}
                                        {{ statement.accountType }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.bankName is not empty %}
                                        {{ statement.bankName }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.branchName is not empty %}
                                        {{ statement.branchName}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if statement.branchCode is not empty %}
                                        {{ statement.branchCode}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if statement.agentName is not empty %}
                                        {{ statement.agentName}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if statement.agentId is not empty %}
                                        {% if statement.mode == 'Feed' %}
                                            {{ 'F'~statement.agentId}}
                                        {% else %}
                                            {{ 'C'~statement.agentId}}
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td style="text-align: right">
                                    {% if statement.bankDeposit is not empty %}
                                        {{ statement.bankDeposit|number_format(0, '.', ',') }}
                                        {% set grandTotal = grandTotal+statement.bankDeposit %}
                                        {% set totalValue = totalValue+statement.bankDeposit %}
                                    {% endif %}
                                </td>

                                <td style="text-align: center">
                                    {% if statement.userName is not empty %}
                                        {{ statement.userName }}
                                    {% endif %}
                                </td>

                                <td style="text-align: center">
                                    {% if statement.isCustom is not empty and statement.isCustom == 'yes' %}
                                        {{ 'Custom'}}
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        <tr>
                            <th colspan="5" style="text-align: center;background-color: #f3f4f5">Grand Total</th>
                            <th style="text-align: right;background-color: #f3f4f5" colspan="4">{{ grandTotal|number_format(0, '.', ',')  }}</th>
                            <th style="text-align: right;background-color: #f3f4f5" ></th>
                            <th style="text-align: right;background-color: #f3f4f5" ></th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
