{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Reconciliation Report (All Bank & Company)</h5>
                    <div class="card-header-right">

                        {% if reconciliationData is defined and reconciliationData is not empty %}
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('br_reconciliation_company_bank_report_pdf',{startDate:startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y')}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a href="{{ path('br_reconciliation_company_bank_report_excel',{startDate:startDate|date('d-m-Y'),endDate:endDate|date('d-m-Y')}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
{#                                <th colspan="6" style="width: 35%;">#}
{#                                    {{ form_label(form.accountType) }}#}
{#                                    {{ form_widget(form.accountType, { attr: {required: 'true'}})}}#}
{#                                    {{ form_errors(form.accountType) }}#}
{#                                </th>#}

                                <th colspan="6" style="width: 35%;">
                                    {{ form_label(form.startDate,'Start Date *') }}
                                    {{ form_widget(form.startDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.startDate) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.endDate,'End Date *') }}
                                    {{ form_widget(form.endDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.endDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_index') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="10" class="text-center">
                            {{ 'Reconciliation Report (All Bank & Company)' }}
                        </th>
                    </tr>
                    {% if reconciliationData is defined and reconciliationData is not empty %}
                        <tr style="border-bottom-color: #dbdee34a !important;">
                            <th colspan="10" class="text-center">
                                {{ startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y') }}
                            </th>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>{{ 'SL'|trans }}</th>
                        <th width="50" >{{ 'Date'|trans }}</th>
                        <th>{{ 'Company'|trans }}</th>
{#                        <th>{{ 'Bank-Code'|trans }}</th>#}
                        <th>{{ 'Bank'|trans }}</th>
                        <th>{{ 'Name of Branch'|trans }}</th>
                        <th>{{ 'Branch-Code'|trans }}</th>
                        <th>{{ 'Name of Party'|trans }}</th>
                        <th>{{ 'Party-Code'|trans }}</th>
                        <th>{{ 'Value'|trans }}</th>
                        <th>{{ 'Approved By'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if reconciliationData is defined and reconciliationData is not empty %}
                        {% set grandTotal = 0 %}
                        {% for firstKey,statementData in reconciliationData %}
                        {% for secondKey,statement in statementData %}

                            {% set totalValue = 0 %}
                            {% for data in statement %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td width="100">
                                    {% if data.transactionDate is not empty %}
                                        {{ data.transactionDate|date('d-M-Y')}}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if data.accountType is not empty %}
                                        {{ data.accountType }}
                                    {% endif %}
                                </td>

{#                                {% if loop.first %}#}
{#                                    <td rowspan="{{ statement|length }}">#}
{#                                        {% if data.accountCode is not empty %}#}
{#                                            {{ data.accountCode }}#}
{#                                        {% endif %}#}
{#                                    </td>#}
{#                                {% endif %}#}

                                    <td>
                                        {% if data.bankName is not empty %}
                                            {{ data.bankName }}
                                        {% endif %}
                                    </td>

                                <td>
                                    {% if data.branchName is not empty %}
                                        {{ data.branchName}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if data.branchCode is not empty %}
                                        {{ data.branchCode}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if data.agentName is not empty %}
                                        {{ data.agentName}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if data.agentId is not empty %}
                                        {% if data.mode == 'Feed' %}
                                            {{ 'F'~data.agentId}}
                                        {% else %}
                                            {{ 'C'~data.agentId}}
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td style="text-align: right">
                                    {% if data.bankDeposit is not empty %}
                                        {{ data.bankDeposit|number_format(0, '.', ',') }}
                                        {% set grandTotal = grandTotal+data.bankDeposit %}
                                        {% set totalValue = totalValue+data.bankDeposit %}
                                    {% endif %}
                                </td>

                                <td style="text-align: center">
                                    {% if data.userName is not empty %}
                                        {{ data.userName }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="4" style="background-color: #f3f4f5"></th>
                                <th colspan="4" style="background-color: #f3f4f5">Total</th>
                                <th style="text-align: right;background-color: #f3f4f5" >
                                    {{ totalValue|number_format(0, '.', ',') }}
                                </th>
                                <th style="background-color: #f3f4f5"></th>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                        <tr>
                            <th colspan="5" style="text-align: center;background-color: #f3f4f5">Grand Total</th>
                            <th style="text-align: right;background-color: #f3f4f5" colspan="4">{{ grandTotal|number_format(0, '.', ',')  }}</th>
                            <th style="text-align: right;background-color: #f3f4f5" ></th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
        $('.transactionDate').datepicker(
            {
                dateFormat: 'dd-mm-yy'
            }
        );
{% endblock %}
