<ul class="" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="{{ path('br_index') }}">{{ 'Reconciliation'|trans }}</a></li>
    <li><a class="dropdown-item" href="javascript:">{{ 'Reports'|trans }}</a>
        <ul>
            <li>
                <a class="dropdown-item" href="javascript:">{{ 'Unrecognised Report'|trans }}</a>
                <ul>
                    <li><a class="dropdown-item" href="{{ path('br_unrecognised_bank_transacton') }}">{{ 'Bank Transaction'|trans }}</a>
                    <li><a class="dropdown-item" href="{{ path('br_unrecognised_sales_payment') }}">{{ 'Sales Payment'|trans }}</a>
                    <li><a class="dropdown-item" href="{{ path('br_unrecognised_bank_transacton_branch_wise_agent') }}">{{ 'Branch Wise Agent'|trans }}</a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="dropdown-item" href="javascript:">{{ 'Daily Report'|trans }}</a>
                <ul>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_daily_report') }}">{{ ' Reconciliation Report'|trans }}</a>
                    </li>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_daily_report_all_bank') }}">{{ ' Statement TT'|trans }}</a></li>
{#                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_daily_report_company_wise') }}">{{ 'Company Wise'|trans }}</a></li>#}
                </ul>
            </li>

            <li>
                <a class="dropdown-item" href="javascript:">{{ 'Reconciliation Report'|trans }}</a>
                <ul>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_bank_report') }}">{{ 'All Bank'|trans }}</a>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_company_report') }}">{{ 'All Company'|trans }}</a>
                    </li>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_company_bank_report') }}">{{ 'All Bank & Company'|trans }}</a>
                </ul>
            </li>

            <li>
                <a class="dropdown-item" href="javascript:">{{ 'Status Report'|trans }}</a>
                <ul>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_auto_report') }}">{{ 'Auto Reconciliation'|trans }}</a>
                    <li><a class="dropdown-item" href="{{ path('br_reconciliation_custom_report') }}">{{ 'Custom Reconciliation'|trans }}</a>
                </ul>
            </li>
        </ul>
    </li>
    <li><a class="dropdown-item" href="javascript:">{{ 'Transaction'|trans }}</a>
        <ul>
            <li><a class="dropdown-item" href="{{ path('br_bank_transaction_list') }}">{{ 'Bank Transaction'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('br_sales_payment_list') }}">{{ 'Sales Payment'|trans }}</a></li>
        </ul>
    </li>
    <li><a class="dropdown-item" href="javascript:">{{ 'Statement'|trans }}</a>
        <ul>
            <li><a class="dropdown-item" href="{{ path('br_bank_statement_list') }}">{{ 'Bank Statement'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('br_bank_statement_upload') }}">{{ 'Bank Statement Upload'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('br_custom_statement_create') }}">{{ 'Custom Statement Create'|trans }}</a></li>
        </ul>
    </li>
    <li><a class="dropdown-item" href="javascript:">{{ 'Master Data'|trans }}</a>
        <ul>
            <li><a class="dropdown-item" href="{{ path('br_bank_list') }}">{{ 'Bank'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('br_branch_list') }}">{{ 'Bank Branches'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('br_reconciliation_range') }}">{{ 'Reconciliation Range'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('br_account_code_list') }}">{{ 'Bank Account Code'|trans }}</a></li>
        </ul>
    </li>
</ul>
