{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ "Bank Transaction Manage"|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Bank Transaction Manage'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

{#                            <a href="{{ path('core_user_register') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Employee'|trans }}</a>#}
{#                            <a href="{{ path('core_user_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Employee'|trans }}</a>#}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Bank Transaction Manage'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>

                        <div class="portlet-body form">
                            {{ form_start(form, { 'attr' : { 'class': 'form-horizontal' } })}}
                            <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.branch, 'Bank Branch'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> *</span>
                                                        {{ form_widget(form.branch) }}
                                                        {{ form_errors(form.branch) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.bankTransaction.description, 'Description', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.bankTransaction.description) }}
                                                        {{ form_errors(form.bankTransaction.description) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.bankTransaction.deposit, 'Deposite Amount', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> *</span>
                                                        {{ form_widget(form.bankTransaction.deposit) }}
                                                        {{ form_errors(form.bankTransaction.deposit) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.mode, 'Mode', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> *</span>
                                                        {{ form_widget(form.mode, {'attr': {'class': 'form-control input-lg'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.agentId, 'Agent Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.agentId) }}
                                                        {{ form_errors(form.agentId) }}
                                                    </div>
                                                </div>
{#                                                <div class="form-group">#}
{#                                                    {{ form_label(form.salesPayment.salesId, 'Sales Id', {'label_attr': {'class': 'col-md-4'}}) }}#}
{#                                                    <div class="col-md-8">#}
{#                                                        {{ form_widget(form.salesPayment.salesId) }}#}
{#                                                        {{ form_errors(form.salesPayment.salesId) }}#}
{#                                                    </div>#}
{#                                                </div>#}
                                                <div class="form-group">
                                                    {{ form_label(form.salesPayment.depositAmount, 'Amount', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.salesPayment.depositAmount) }}
                                                        {{ form_errors(form.salesPayment.depositAmount) }}
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    {{ form_label(form.salesPayment.depositDate, 'Sales Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.salesPayment.depositDate) }}
                                                        {{ form_errors(form.salesPayment.depositDate) }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="clearfix"></div>
                                        <div class="form-actions">
                                            <div class="col-md-6 ">

                                            </div>
                                            <div class="col-md-6 text-right">
                                                <div class="btn-group" role="group">
                                                    <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                                    {{ form_widget(form.Submit, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        /*.ui-datepicker-calendar{display: none}*/
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{#    <script>#}
        $('#datatable').DataTable( {
            pageLength: 25,
            columnDefs: [ {
                targets: -1,
                orderable: false
            }],
        });
    $('.agentSearch').select2({
        ajax: {
            url: Routing.generate('core_agent_search_select2'),
            dataType: 'json',
            delay: 250,
            type: 'GET',
            data: function (params) {

                return {
                    q: params.term, // search term
                };
            },
            processResults: function (data) {
                var arr = []
                {#console.log(data);#}
                $.each(data, function (index, value) {
                    arr.push({
                        id: index,
                        text: value
                    })
                })
                return {
                    results: arr
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1
    });
{% endblock %}
