{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Transaction List</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <a href="" id="createForm" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>New Transaction</a>#}
                            <a href="{{ path('br_bank_transaction_list') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>Transaction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="6" style="width: 35%;">
                                    {{ form_label(form.bank,' Bank *') }}
                                    {{ form_widget(form.bank, { attr: {required: 'true'} }) }}
                                    {{ form_errors(form.bank) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.accountType,'Account Type *') }}
                                    {{ form_widget(form.accountType, { attr: {required: 'true'} })}}
                                    {{ form_errors(form.accountType) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.transactionDate,'Transaction Date *') }}
                                    {{ form_widget(form.transactionDate,{'attr':{'class': 'transactionDate'}}) }}
                                    {{ form_errors(form.transactionDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_index') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="reloadClass">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="9" class="text-center">{{ 'Bank Transaction' }}</th>
                    </tr>
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th width="10%">{{ 'Transaction Id'|trans }}</th>
                        <th width="10%">{{ 'Branch'|trans }}</th>
                        <th width="20%">{{ 'Description'|trans }}</th>
                        <th width="10%">{{ 'Instrument No'|trans }}</th>
                        <th width="10%">{{ 'Deposit Amount'|trans }}</th>
                        <th>{{ 'Mode'|trans }}</th>
                        <th>{{ 'Agent'|trans }}</th>
                        <th class="text-center"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if transactionData is defined and transactionData is not empty %}
                        {#{% set offset = transactionData.getItemNumberPerPage * (transactionData.currentPageNumber - 1) %}#}
                        {% for statement in transactionData %}


                            <tr>
                                {#<td>{{ loop.index +offset }}</td>#}
                                <td>{{ loop.index}}</td>

                                <td>{% if statement is not empty %}{{ statement.id }}{% endif %}</td>

                                <td>
                            {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                            {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                {{ statement.branch.branchCode ~' -- '~ statement.branch.branchName }}
                            {% endif %}
                        {% else %}
                                    {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                    <a data-type="select" class="editable dashEditable" id="branch-{% if statement.branch.branchName is defined and statement.branch is not empty %}{{ statement.id }}{% endif %}" data-source="{{ path('bank_branch_select',{id:statement.branch.id}) }}" data-name="branch" href="#" data-url="{{ path('bank_branch_inline_update',{id:statement.id}) }}"  data-pk="{% if statement.branch is defined and statement.branch is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.branch is defined and statement.branch is not empty %}{{ statement.branch.branchName }}{% endif %}" data-original-title="Statement Branch">
                                        {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                            {{ statement.branch.branchCode ~' -- '~ statement.branch.branchName }}
                                        {% endif %}
                                    {% endif %}
                                        {% endif %}
                                    </a>

                                </td>
                                <td style="text-align: left">
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                    {{ statement.description }}
                                    {% else %}

                                    <a data-type="textarea" class="editable dashEditable" id="statement-{% if statement.description is defined and statement.description is not empty %}{{ statement.id }}{% endif %}" data-name="description" href="#" data-url="{{ path('bank_description_inline_update',{id:statement.id}) }}"  data-pk="{% if statement.description is defined and statement.description is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.description is defined and statement.description is not empty %}{{ statement.description }}{% endif %}" data-original-title="Statement Description">
                                        {% if statement.description is defined and statement.description is not empty %}
                                            {{ statement.description }}
                                        {% endif %}
                                        {% endif %}
                                    </a>
                                </td>

                                <td>
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                            {{ statement.instrumentNo }}
                        {% else %}
                                    <a data-type="text" class="editable dashEditable" id="instrumentNo-{% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}{{ statement.id }}{% endif %}" data-name="instrumentNo" data-url="{{ path('bank_instrumentno_inline_update',{id:statement.id}) }}" href="#"  data-pk="{% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}{{ statement.instrumentNo }}{% endif %}" data-original-title="instrumentNo">
                                        {% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}
                                            {{ statement.instrumentNo }}
                                        {% endif %}
                                        {% endif %}
                                    </a>
                                </td>
                                <td style="text-align: right">
                            {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                            {{ statement.deposit }}
                        {% else %}
                                    {#<a data-type="text" class="editable dashEditable" id="deposit-{% if statement.deposit is defined and statement.deposit is not empty %}{{ statement.id }}{% endif %}" data-name="deposit" data-url="{{ path('bank_deposit_inline_update',{id:statement.id}) }}" href="#"  data-pk="{% if statement.deposit is defined and statement.deposit is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.deposit is defined and statement.deposit is not empty %}{{ statement.deposit }}{% endif %}" data-original-title="deposit">
                                        {% if statement.deposit is defined and statement.deposit is not empty %}#}
                                            {{ statement.deposit|number_format(0, '.', ',') }}
{#                                        {% endif %}#}
                                        {% endif %}
                                    </a>
{#                                    {% if statement.deposit is defined and statement.deposit is not null %}#}
{#                                    {{ statement.deposit }}#}
{#                                    {% endif %}#}
                                </td>
                                <td>
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                        {{ statement.bankReconciliation.mode }}

                                        {% else %}
                                            {% if statement.bankReconciliation.mode is defined and statement.bankReconciliation.mode is not null %}
                                                <a data-type="select" class="editable dashEditable chickSelectValue value{{ statement.bankReconciliation.id }}" id="mode-{{ statement.id }}" data-source="{{ path('mode_select') }}" data-name="mode" href="#" data-url="{{ path('bank_mode_inline_update',{id:statement.bankReconciliation.id}) }}"  data-pk="{{ statement.bankReconciliation.id }}" data-value="{{ statement.bankReconciliation.mode }}" data-original-title="mode">
                                                    {{ statement.bankReconciliation.mode }}
                                                </a>
                                                </a>
                                            {% endif %}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                        {{ statement.bankReconciliation.agent.name|default('') }}

                                    {% else %}
                                        {% if statement.bankReconciliation is defined and statement.bankReconciliation is not null %}
                                            <select name="agentID" id="getAgentID{{ statement.bankReconciliation.id }}" class="select2 agentSearch"></select>
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td style="text-align: center">
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}

                                    {% else %}
                                        {% if statement.bankReconciliation is defined and statement.bankReconciliation is not null %}
                                            <input type="checkbox" class="br-approved-chick-feed" id="br-approved-chick{{ statement.bankReconciliation.id }}" reconciliation-id="{{ statement.bankReconciliation.id }}" data-action="{{ path('br_chick_feed_reconciliation',{id: statement.bankReconciliation.id})}}">
                                        {% endif %}
                                    <a data-action="{{ path('br_transaction_delete',{id: statement.id}) }}" class="btn  btn-transparent btn-mini red-font remove" href="javascript:"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="12" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
                {#{% if transactionData is defined and transactionData is not empty %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ transactionData.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(transactionData) }}
                    </div>
                </div>
                {% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
        .dashEditable{
            border-bottom: dashed 1px #0088cc;
        }
        .chickDisable{
            display: none;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>

    </script>

{% endblock  %}

{% block documentready %}
{#    <script>#}
    {{ parent() }}

    $('.transactionDate').datepicker(
        {
            dateFormat: 'dd-mm-yy'
        }
    );

    $.fn.editable.defaults.mode = 'inline';
    $('.editable').editable();


    $(document).on('click','.br-approved-chick-feed', function () {
        if (this.checked) {
            var reconciliationId = $(this).attr('reconciliation-id');
            var agentId = $('#getAgentID' + reconciliationId).val();

            if (agentId != null) {
                $.ajax({
                    type: "GET",
                    url: $(this).attr('data-action'),
                    data: {
                        reconciliationId:reconciliationId,agentId:agentId
                    },
                    success: function (response) {
                        if (response.message == '200') {
                            if (response.mobile == '') {
                                Swal.fire({
                                    position: 'top-center',
                                    icon: 'error',
                                    title: 'SMS not send , Agent mobile empty',
                                    showConfirmButton: true,
                                    timer: 3000,
                                })
                            }else {
                                Swal.fire({
                                    position: 'top-center',
                                    icon: 'success',
                                    title: 'Reconciliation successfully !',
                                    showConfirmButton: true,
                                    timer: 3000,
                                })
                            }
                        }

                        $('#reloadClass').html(response.contentHtml);
                        setInterval(function () {

                        }, 1000);

                        $('#reloadClass').find('.agentSearch').select2({
                            ajax: {
                                url: Routing.generate('core_agent_search_select2'),
                                dataType: 'json',
                                delay: 250,
                                type: 'GET',
                                data: function (params) {
                                    return {
                                        q: params.term, // search term
                                    };
                                },
                            processResults: function (data) {
                                var arr = []
                                $.each(data, function (index, value) {
                                    arr.push({
                                        id: index,
                                        text: value
                                    })
                                })
                                return {
                                results: arr
                                };
                            },
                            cache: true
                            },
                            escapeMarkup: function (markup) { return markup; },
                            minimumInputLength: 1
                        });

                        $('#reloadClass').find('.editable').editable({
                            theme: 'bootstrap4'
                        });

                        $('#reloadClass').find('#datatable').DataTable({
                            pageLength: 25,
                            columnDefs: [ {
                                targets: -1,
                                orderable: false
                            }],
                        });
                    }
                });
            }else{
                document.getElementById("br-approved-chick" + reconciliationId).checked = false;
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: 'Nothing to Reconciliation , Select Agent !',
                    showConfirmButton: true,
                    timer: 3000,
                })
            }
        }
    });

    $('#reloadClass').find('.agentSearch').select2({
        ajax: {
            url: Routing.generate('core_agent_search_select2'),
            dataType: 'json',
            delay: 250,
            type: 'GET',
            data: function (params) {
                return {
                q: params.term, // search term
                };
            },
            processResults: function (data) {
                var arr = []
                {#console.log(data);#}
                $.each(data, function (index, value) {
                    arr.push({
                        id: index,
                        text: value
                    })
                })
                return {
                    results: arr
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1
    });

    $('#datatable').DataTable( {
        pageLength: 25,
        columnDefs: [ {
            targets: -1,
            orderable: false
        }],
    });
{% endblock %}
