{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Sales Payment List</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <a href="" id="createForm" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>New Transaction</a>#}
                            <a href="{{ path('br_sales_payment_list') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>Sales Payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="6" style="width: 35%;">
                                    {{ form_label(form.bank,'Bank *') }}
                                    {{ form_widget(form.bank, { attr: {required: 'true'} }) }}
                                    {{ form_errors(form.bank) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.accountType,'Account Type *') }}
                                    {{ form_widget(form.accountType, { attr: {required: 'true'} })}}
                                    {{ form_errors(form.accountType) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.transactionDate,'Transaction Date *') }}
                                    {{ form_widget(form.transactionDate,{'attr':{'class': 'transactionDate'}}) }}
                                    {{ form_errors(form.transactionDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_index') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="8" class="text-center">{{ 'Sales Payment' }}</th>

                    </tr>
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Sales Id'|trans }}</th>
                        <th>{{ 'Branch'|trans }}</th>
                        <th>{{ 'Deposit Amount'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'Mobile'|trans }}</th>
                        <th>{{ 'Address'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if transactionData is defined and transactionData is not empty %}
                        {% set offset = transactionData.getItemNumberPerPage * (transactionData.currentPageNumber - 1) %}
                        {% for statement in transactionData %}


                            <tr>
                                <td>{{ loop.index + offset  }}</td>

                                <td>{% if statement is not empty %}{{ statement.id }}{% endif %}</td>

                                <td>
                                    {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                        {{ statement.branch.branchCode ~' -- '~ statement.branch.branchName }}
                                    {% endif %}
                                </td>

                                <td style="text-align: right">
                                    {% if statement.depositAmount is defined and statement.depositAmount is not empty %}
                                        {{ statement.depositAmount|number_format(0, '.', ',') }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.agent is defined and statement.agent is not empty %}
                                        {{ statement.agent.name}}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.agent is defined and statement.agent is not empty %}
                                        {{ statement.agent.mobile}}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.agent is defined and statement.agent is not empty %}
                                        {{ statement.agent.address}}
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="12" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
                {% if transactionData is defined and transactionData is not empty %}

                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ transactionData.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(transactionData) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
        $('.transactionDate').datepicker(
            {
                dateFormat: 'dd-mm-yy'
            }
        );
{% endblock %}
