{% extends 'admin/layout.html.twig' %}

{% block body %}
    <a href="" class="loader"></a>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Reconciliation</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <form action="{{ path('br_sales_payment_sync_api') }}" method="post" class="form-inline sync-form">#}
{#                                <input type="text" class="form-control transactionDate" placeholder="dd-mm-YYYY" name="request-date" autocomplete="off">#}
{#                                <button type="submit" class="btn btn-sm purple-bg white-font"><i class="fas fa-refresh"></i> Sync Sales Payment</button>#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="6" style="width: 35%;">
                                    {{ form_label(form.bank,'Bank *') }}
                                    {{ form_widget(form.bank, { attr: {required: 'true'} }) }}
                                    {{ form_errors(form.bank) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.accountType,'Account Type *') }}
                                    {{ form_widget(form.accountType, { attr: {required: 'true'} })}}
                                    {{ form_errors(form.accountType) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.transactionDate,'Transaction Date *') }}
                                    {{ form_widget(form.transactionDate,{'attr':{'class': 'transactionDate'}}) }}
                                    {{ form_errors(form.transactionDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_index') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="reloadClass">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped" >
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="6" class="text-center">{{ 'Bank Transaction' }}</th>
                        <th class="text-center">
                            Approve
                        </th>
                        <th colspan="6" class="text-center">{{ 'Sales' }}</th>
                    </tr>
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Transaction Id'|trans }}</th>
                        <th>{{ 'Branch'|trans }}</th>
                        <th>{{ 'Description'|trans }}</th>
                        <th>{{ 'Diposit Amount'|trans }}</th>
                        <th>{{ 'Mode'|trans }}</th>
                        <th class="text-center">
                            <input type='checkbox' data-action="{{ path('br_send_sms_to_agent_multiple') }}" name="check_all" id='select_all_transaction'>
                            {{ 'All'|trans }}
                        </th>
                        <th>{{ 'Difference Amount'|trans }}</th>
                        <th>{{ 'Amount'|trans }}</th>
                        <th>{{ 'Actual Amount'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'Agent Mobile'|trans }}</th>
                        <th>{{ 'Agent Address'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% if reconciliationData is defined and reconciliationData is not empty %}

                        {% for statement in reconciliationData %}
                            <tr style="background-color:{% if statement.reconciliationFlag == 'teal' %} #8cd1d1 {% endif %}{% if statement.reconciliationFlag == 'green' %} #cafc99 {% endif %}{% if statement.reconciliationFlag == 'yellow' %} #ffff0052 {% endif %}{% if statement.reconciliationFlag == 'purple' %} #8000804d {% endif %}{% if statement.reconciliationFlag == 'red' %} #ff000038 {% endif %}{% if statement.reconciliationFlag == 'blue' %} #00c4ff2e {% endif %}!important;font-weight: {% if statement.isCustom == 'yes' %} bold {% endif %}!important;">
                                {% if statement.transactionID is defined and statement.transactionID is not empty%}

                                    <td>{{ loop.index }}</td>

                                    <td>{% if statement.transactionID is not empty %}{{ statement.transactionID }}{% endif %}</td>
                                    <td>
                                        {% if statement.branchName is defined and statement.branchName is not null %}
                                            {{ statement.branchCode ~' -- '~ statement.branchName }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.description is defined and statement.description is not null %}
                                            {{ statement.description}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.bankDeposit is defined and statement.bankDeposit is not null %}
                                            {{ statement.bankDeposit }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ statement.mode }}
                                    </td>

                                    <td align="center" class="yellow-bg">
                                        {% if statement.approvedBy is not empty %}
                                            <a data-action="{{ path('br_reset_reconciliation') }}" class="btn-sm white-font reconciliation-reset" title="Reset" style="cursor: pointer;" reconciliationId="{{ statement.reconciliationID }}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        {% else %}
                                        {% if statement.mode == 'Feed' %}
                                            <input type="checkbox"  {% if statement.approvedBy is not empty %} disabled checked {% endif %} name="approve-status" class="br-approved {% if statement.reconciliationFlag == 'red' or statement.approvedBy is not empty or statement.salesPaymentAmount is empty %} noCheck  {% else %} yesCheck  {% endif %}" adjustAmount="{% if statement.diffAmount > 0 %}{{ statement.bankDeposit }}{% else %}{{ 0 }}{% endif %}" data-action="{{ path('br_send_sms_to_agent') }}" data-mobile="{{ statement.agentMobile|default('') }}" data-statementId="{{ statement.transactionID|default('') }}" id="approve-status-{{ loop.index }}" index-no = "{{ loop.index }}" salesId = "{% if statement.salesPaymentAmount is not empty %} {{ statement.salesID|default('') }} {% endif %}" transactionSelect = "0">
                                            {% else %}
                                                <input type="checkbox" class="br-approved-chick" id="br-approved-chick{{ statement.reconciliationID }}" reconciliation-id="{{ statement.reconciliationID }}" data-action="{{ path('br_chick_reconciliation',{id: statement.reconciliationID})}}">
                                        {% endif %}
                                        {% endif %}
                                    </td>

                                {% endif %}

                                {% if statement.salesPaymentAmount is defined and statement.salesPaymentAmount is not empty and statement.transactionID is defined and statement.transactionID is not empty %}
                                    <td style="background-color: #fffa90 !important;">
                                        {% if statement.diffAmount is defined and statement.diffAmount is not null  %}
                                            {{ statement.diffAmount}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.salesPaymentAmount is defined and statement.salesPaymentAmount is not null  %}
                                            {{ statement.salesPaymentAmount }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.actualAmount is defined and statement.actualAmount is not null  %}
                                            {{ statement.actualAmount }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.agentName is defined and statement.agentName is not null  %}
                                            {{ statement.agentName}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.agentMobile is defined and statement.agentMobile is not null  %}
                                            {{ statement.agentMobile }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if statement.agentAddress is defined and statement.agentAddress is not null  %}
                                            {{ statement.agentAddress }}
                                        {% endif  %}
                                    </td>
                                {% else %}
{#                                    {% if statement.transactionID is defined and statement.transactionID is not empty %}#}
{#                                        {{ statement.mode }}#}
                                        <td colspan="6" style="background-color: #ffffff !important;">
                                    {% if statement.mode == 'Feed' %}
                                        {#  branch Id -- branchName -- Agent Id -- Agent Name -- Agent Mobile -- Agent Address -- Sales Amount -- salesDate -- salesId#}
                                            <select  name="salesId"  class="getSalesTransactionID  select2" index-no = "{{ loop.index }}">
                                                <option value="">Select Sales Transaction</option>
                                                {% if salesSelect is defined and salesSelect is not empty %}
                                                    {% for salesSelectOption in salesSelect %}
                                                        <option value="{{ salesSelectOption.id }}">
                                                            {{  salesSelectOption.branchId|default('') ~' -- '~ salesSelectOption.branchName|default('') ~' -- '~ salesSelectOption.agentId|default('')~' -- '~ salesSelectOption.agentName|default('') ~' -- '~ salesSelectOption.agentMobile|default('') ~' -- '~ salesSelectOption.agentAddress ~' -- '~ salesSelectOption.depositAmount|default('')~' -- '~salesSelectOption.salesDate|date('d-m-Y')~' -- '~salesSelectOption.id|default('')~' -- ('~salesSelectOption.districtName~'-'~ salesSelectOption.regionName|default('')~')' }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        {% else %}
                                            <select  name="agentID"  class="getAgentID{{ statement.reconciliationID}}  select2" index-no = "{{ loop.index }}">
                                                <option value="">Select Agent</option>
                                                {% if agentSelect is defined and agentSelect is not empty %}
                                                    {% for agentSelectOption in agentSelect %}
                                                        <option value="{{ agentSelectOption.id }}">
                                                            {{  agentSelectOption.name~' ('~agentSelectOption.agentId~')' }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
{#                                            {{ statement.transactionID~' '~statement.reconciliationID }}#}
{#                                            <a data-type="select" class="editable dashEditable" id="agent-{{ statement.transactionID }}" data-source="{{ path('agent_select') }}" data-name="agent_id" href="#" data-url="{{ path('chick_agent_inline_update',{id:statement.reconciliationID}) }}"  data-pk="{{ statement.reconciliationID }}" data-value="{{ statement.mode }}" data-original-title="mode">#}
{#                                                {{ 'Chick Agent' }}#}
{#                                            </a>#}
                                        {% endif %}
                                        </td>
{#                                    {% endif %}#}

                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="12" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
{#    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>#}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
{#    <script>#}
    {{ parent() }}
        $('.transactionDate').datepicker(
            {
                dateFormat: 'dd-mm-yy'
            }
        );

        $(document).on('click', '.reconciliation-reset', function(e) {
            e.preventDefault();
{#            let isExecuted = false;#}
            let isExecuted = confirm("Are you sure to reset reconciliation !");
            console.log(isExecuted);
            if (isExecuted){
                let reconciliationId = $(this).attr('reconciliationId');
                let route = $(this).attr('data-action');
                // alert(reconciliationId+' '+route);
                $.ajax({
                    type: "GET",
                    url: route,
                    data: {reconciliationId: reconciliationId},
                    success: function (response) {
                        // alert(response);
                        if(response.message == 'success'){
                            Swal.fire({
                                /*position: 'top-center',
                                icon: 'success',*/
                                title: 'Reconciliation rollback successfully !',
                                showConfirmButton: true,
                                timer: 3000,
                            })

                            $('#reloadClass').html(response.contentHtml);
                            setInterval(function() {

                            }, 1000);
                            $('#reloadClass').find('.select2').select2({
                                theme: 'bootstrap4'
                            });
                        }
                    }
                })
            }
        });




        $('#reloadClass').on('click','.br-approved',function () {
            if (this.checked){
                var transactionSelect = $(this).attr('transactionSelect');
                var bankId = $('#search_form_bank').val();
                var accountType = $('#search_form_accountType').val();
                var transactionDate = $('#search_form_transactionDate').val();

                $.ajax({
                    type: "GET",
                    url: $(this).attr('data-action'),
                    data: {mobile: $(this).attr('data-mobile'), statementId: $(this).attr('data-statementId'),adjustAmount: $(this).attr('adjustAmount'),indexno: $(this).attr('index-no'),salesid:$(this).attr('salesid'),transactionSelect:$(this).attr('transactionSelect'),bankId:bankId,accountType:accountType,transactionDate:transactionDate},
                    success: function (response) {
                        if(response.message == 'success'){
                            if(response.mobile == ''){
                                Swal.fire({
                                    /*position: 'top-center',
                                    icon: 'error',*/
                                    title: 'SMS not send , Agent mobile empty',
                                    showConfirmButton: true,
                                    timer: 3000,
                                })
                            }
{#                            if(transactionSelect == 1){#}
{#                                location.reload();#}
{#                            }#}
                            Swal.fire({
                                /*position: 'top-center',
                                icon: 'success',*/
                                title: 'Reconciliation successfully !',
                                showConfirmButton: true,
                                timer: 3000,
                            })

                            $('#reloadClass').html(response.contentHtml);
                            setInterval(function() {

                            }, 1000);
                            $('#reloadClass').find('.select2').select2({
                                theme: 'bootstrap4'
                            });
                        }else{
                            document.getElementById("approve-status-"+response.index).checked = false;
                            Swal.fire({
                                /*position: 'top-center',
                                icon: 'error',*/
                                title: 'Nothing to Reconciliation !',
                                showConfirmButton: true,
                                timer: 3000,
                            })
                        }
                    }
                })
            }
        });

    $('#reloadClass').on('change','.getSalesTransactionID', function () {
        $indexNo = $(this).attr('index-no');
        $salestransactionId = $(this).val();
        if($salestransactionId != ''){
        document.getElementById("approve-status-"+$indexNo).setAttribute("transactionSelect", "1");
        document.getElementById("approve-status-"+$indexNo).setAttribute("salesid", $salestransactionId);
    }
    });


    $(document).on('change', 'input[name="check_all"]', function() {
        var checkboxes = document.getElementsByClassName('yesCheck');
{#        alert(checkboxes.length);#}
        if (checkboxes.length != 0) {
            var data = [];
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
                data.push({TransactionId: $(checkboxes[i]).attr('data-statementId'), SalesID: $(checkboxes[i]).attr('salesid'),mobile: $(checkboxes[i]).attr('data-mobile'),adjustAmount: $(checkboxes[i]).attr('adjustAmount')});
            }
            // console.log(data);
            var bankId = $('#search_form_bank').val();
            var accountType = $('#search_form_accountType').val();
            var transactionDate = $('#search_form_transactionDate').val();
            var url = $(this).attr('data-action')

            $.ajax({
                type: "GET",
                url: url,
                data: {data: data,bankId:bankId,accountType:accountType,transactionDate:transactionDate},
                success: function (response) {
                    if(response.message == 'success'){
                        Swal.fire({
                            /*position: 'top-center',
                            icon: 'success',*/
                            title: 'Reconciliation successfully !',
                            showConfirmButton: true,
                            timer: 3000,
                        })

                        $('#reloadClass').html(response.contentHtml);
                        setInterval(function() {

                        }, 1000);
                        $('#reloadClass').find('.select2').select2({
                            theme: 'bootstrap4'
                        });
                    }else{
                        document.getElementById("approve-status-"+response.index).checked = false;
                        Swal.fire({
                            /*position: 'top-center',
                            icon: 'error',*/
                            title: 'Nothing to Reconciliation !',
                            showConfirmButton: true,
                            timer: 3000,
                        })
                    }
                }
            })
        }else{
            if (this.checked){
                document.getElementsByName('input[name="check_all"]').checked = false;
                Swal.fire({
                    /*position: 'top-center',
                    icon: 'error',*/
                    title: 'Nothing to Reconciliation !',
                    showConfirmButton: true,
                    timer: 3000,
                })
            }
        }
    });


    $('#reloadClass').on('click', '.br-approved-chick', function () {
        if (this.checked) {
            var reconciliationId = $(this).attr('reconciliation-id');
            var agentId = $('.getAgentID' + reconciliationId).val();
            if (agentId != '') {
                // alert(reconciliationId + ' ' + agentId);
                $.ajax({
                    type: "GET",
                    url: $(this).attr('data-action'),
                    data: {
                        reconciliationId:reconciliationId,agentId:agentId
                    },
                    success: function (response) {
                        if (response.message == '200') {
                            if (response.mobile == '') {
                                Swal.fire({
                                    /*position: 'top-center',
                                    icon: 'error',*/
                                    title: 'SMS not send , Agent mobile empty',
                                    showConfirmButton: true,
                                    timer: 3000,
                                })
                            }
                        }
                        Swal.fire({
                            /*position: 'top-center',
                            icon: 'success',*/
                            title: 'Reconciliation successfully !',
                            showConfirmButton: true,
                            timer: 3000,
                        })
                        $('#reloadClass').html(response.contentHtml);
                        setInterval(function () {

                        }, 1000);
                        $('#reloadClass').find('.select2').select2({
                            theme: 'bootstrap4'
                        });
                    }
                });
            }else{
                document.getElementById("br-approved-chick" + reconciliationId).checked = false;
                Swal.fire({
                    /*position: 'top-center',
                    icon: 'error',*/
                    title: 'Nothing to Reconciliation , Select Agent !',
                    showConfirmButton: true,
                    timer: 3000,
                })
            }
        }
    });

{% endblock %}
