{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Add Account Code</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_account_code_list') }}" class="btn btn-sm green-bg white-font"><i class="fa fa-th-list"></i>Account Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="portlet box green ">
                <div class="portlet-title">
                    <div class="caption">Account Code Entry</div>
                </div>
                <div class="portlet-body form">
{#                    <form name="employee_board_form" method="post" class="form-horizontal right">#}
                        {{ form_start(form, {'attr':{'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            {{ form_label(form.bank, 'Bank Name', {'label_attr': {'class':'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.bank) }}
                                                {{ form_errors(form.bank) }}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.branchId, 'Bank Branch', {'label_attr': {'class':'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {% if entity is not empty %}
                                                <input type="hidden" class="added_branch_id" data-name="{{ entity is defined and entity.branch is not empty?entity.branch.branchName:'' }}" value="{{ entity is defined and entity.branch is not empty?entity.branch.id:'' }}">
                                                {% endif %}
                                                {{ form_widget(form.branchId) }}
                                                {{ form_errors(form.branchId) }}
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            {{ form_label(form.accountType, 'Account Type', {'label_attr': {'class':'col-md-4'}}) }}

                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.accountType) }}
                                                {{ form_errors(form.accountType) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.accountNo, 'Account No', {'label_attr': {'class':'col-md-4'}}) }}

                                            <div class="col-md-8">
{#                                                <span class="not-blank"> *</span>#}
                                                {{ form_widget(form.accountNo) }}
                                                {{ form_errors(form.accountNo) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.accountCode, 'Account Code', {'label_attr': {'class':'col-md-4'}}) }}

                                            <div class="col-md-8">
{#                                                <span class="not-blank"> *</span>#}
                                                {{ form_widget(form.accountCode) }}
                                                {{ form_errors(form.accountCode) }}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>
                                    </div>

                            </div>
                                <div class="row">
{#                                    <div class="form-actions">#}
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                {{ form_widget(form.submit, {'label': 'Save And Create', 'attr':{'class': 'btn btn-info'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
{#                                    </div>#}
                                </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        p.divider:before {
            content: '';
            position: absolute;
            background: #9595958a;
            height: 42%;
            width: 1px;
            top: 0;
            left: 76%;
        }
        p.divider:after {
            content: '';
            position: absolute;
            background: #9595958a;
            height: 42%;
            width: 1px;
            left: 76%;
            bottom: 16px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
{#    <script>#}
    {{ parent() }}
    var added_branch_id= $('.added_branch_id').val();
    var added_branch_name= $('.added_branch_id').attr('data-name');
    $('.branchSearch').select2({
    ajax: {
            url: Routing.generate('branch_search_select2'),
            dataType: 'json',
            delay: 250,
            type: 'GET',
            data: function (params) {
                var bank = $('#bank_accont_code_form_bank').val();
                if (bank){
                    return {
                        q: params.term, // search term
                        bank: bank, // search term
                    };
                }else {
                    alert('Select Bank First');
                }
            },
        templateSelection: function (data, container) {
        console.log('ok');
        },
    processResults: function (data) {
        var arr = []
            $.each(data, function (index, value) {
                arr.push({
                    id: index,
                    text: value,
                })
            })
        return {
            results: arr
        };
    },
        cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1
    });
    if(added_branch_id!=''){
        var data = {
            id: added_branch_id,
            text: added_branch_name
        };
        var newOption = new Option(data.text, data.id, false, false);
        $('.branchSearch').append(newOption).trigger('change');
        $('.branchSearch').val(added_branch_id).change();
    }
{% endblock %}