{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Bank Account Code</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_account_code_create') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'S/N'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Branch Name'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Code'|trans }}</th>
                        <th>{{ 'Account No'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data is defined and data is not empty %}
                        {% set offset = data.getItemNumberPerPage * (data.currentPageNumber - 1) %}

                        {% for code in data %}
                            <tr>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ code.bankName|default('') }}</td>
                                <td>{{ code.branchName|default('') }}</td>
                                <td>{{ code.accountType|default('') }}</td>
                                <td>{{ code.accountCode|default('') }}</td>
                                <td>{{ code.accountNo|default('') }}</td>
                                <td>
                                    <a class="btn btn-mini yellow-bg white-font" href="{{ path('br_account_code_update',{id: code.id}) }}"><i class="feather icon-edit"></i>Update</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ data.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(data) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
