{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Add New Branch</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_branch_list') }}" class="btn btn-sm green-bg white-font"><i class="fa fa-th-list"></i>Branches</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="portlet box green ">
                <div class="portlet-title">
                    <div class="caption">Branch Entry</div>
                </div>
                <div class="portlet-body form">
{#                    <form name="employee_board_form" method="post" class="form-horizontal right">#}
                        {{ form_start(form, {'attr':{'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ form_label(form.bank, 'Bank Name', {'label_attr': {'class':'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.bank) }}
                                                {{ form_errors(form.bank) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.branchName, 'Branch Name', {'label_attr': {'class':'col-md-4'}}) }}

                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.branchName) }}
                                                {{ form_errors(form.branchName) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.branchCode, 'Branch Code', {'label_attr': {'class':'col-md-4'}}) }}

                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.branchCode) }}
                                                {{ form_errors(form.branchCode) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.mobile, 'Contact Number', {'label_attr': {'class':'col-md-4'}}) }}

                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.mobile) }}
                                                {{ form_errors(form.mobile) }}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>
                                    </div>

                                    {% if branch is not defined %}
                                        <div class="col-md-1 text-secondary d-flex justify-content-end align-items-center">
                                            <p class="divider">OR</p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_label(form.bulkUploadFile, 'File', {'label_attr': {'class':'col-md-4'}}) }}

                                                <div class="col-md-8">
                                                    {{ form_widget(form.bulkUploadFile, {'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                                                    {{ form_help(form.bulkUploadFile, {'help_attr': {'class': 'text-secondary'}}) }}
                                                    {{ form_errors(form.bulkUploadFile) }}

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-md-4"></label>
                                                <img src="{{ asset('assets/images/branchExcelFormat.png') }}" alt="Image" class="col-md-8">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    {% endif %}
                            </div>
                                <div class="row">
{#                                    <div class="form-actions">#}
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                {{ form_widget(form.submit, {'label': 'Save And Create', 'attr':{'class': 'btn btn-info'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
{#                                    </div>#}
                                </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        p.divider:before {
            content: '';
            position: absolute;
            background: #9595958a;
            height: 42%;
            width: 1px;
            top: 0;
            left: 76%;
        }
        p.divider:after {
            content: '';
            position: absolute;
            background: #9595958a;
            height: 42%;
            width: 1px;
            left: 76%;
            bottom: 16px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
