{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Bank</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_branch_create') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="">
                    <thead class="thead-dark">
                    <tr>
                        <th width="40" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Bank Slug'|trans }}</th>
                        <th>{{ 'Deduction Percentage'|trans }}</th>
                        <th width="100" class="text-center">{{ 'Status'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th class="text-center" width="100"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data is defined and data is not empty %}
                        {% for bank in data %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>{{ bank.name|default('') }}</td>
                                <td>{{ bank.slug|default('') }}</td>
                                <td class="text-center">{{ bank.deductionPercentage|default('') }}</td>
                                <td class="text-center">{{ bank.status > 0 ? 'Yes' : 'No' }}</td>
                                <td class="text-center">
                                    {{ bank.createdAt|date('d-m-Y') }}
                                </td>
                                <td class="text-right">
                                    <div class="btn-group" role="group">
                                            <a class="btn btn-mini yellow-bg white-font" href="{{ path('br_bank_update',{id: bank.id}) }}"><i class="feather icon-edit"></i> </a>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center font-weight-bold">{{ "No record Found!"|trans }}</td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ data.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(data) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">Bank Entry</div>
                    </div>
                </div>
                <div class="card-body">

                    {{ form_start(form) }}

                        {{ form_label(form.name,'Bank Name :') }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}

                        {{ form_label(form.deductionPercentage,'Deduction Percentage :') }}
                        {{ form_widget(form.deductionPercentage) }}
                        {{ form_errors(form.deductionPercentage) }}

{#                        {{ form_widget(form.status) }}#}

                        {{ form_widget(form.Submit,{'attr':{'class':'btn btn-block btn-info mt-3'},'label':'Save & Create'}) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>





{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });

    $('#datatable').DataTable( {
    pageLength: 100,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });
{% endblock %}
